<% var title = 'アバウトページのタイトルタグ'; %>
<% var description = 'アバウトのディスクリプション'; %>
<% var r_path = '..'; %>
<% include ../common/_header %>

<!-- content -->
<div id="content">
<div class="inner">

<p>アバウトに出力すること</p>

</div><!-- /inner -->
</div><!-- /content -->

<% include ../common/_footer %>