<% var title = 'トップページのタイトルタグ'; %>
<% var description = 'トップページのディスクリプション'; %>
<% var r_path = '.'; %>
<% include common/_header %>

<!-- content -->
<div id="content">
<div class="inner">

<h1>Hello World</h1>
<p>トップページに出力すること</p>
<h2>I'm feeling Lucky</h2>

</div><!-- /inner -->
</div><!-- /content -->

<% include common/_footer %>